@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
}

body {

}

main {
  @apply flex flex-col items-center space-y-3;
}

button {
  @apply px-4 py-2 rounded min-w-60 text-center bg-blue-500  hover:bg-blue-600 focus:outline-none focus:ring-1 focus:ring-white disabled:opacity-50 disabled:pointer-events-none hover:underline underline-offset-4;
}

h1 {
  @apply text-2xl font-bold;
}
